body {
    background-color: #000;
    font-family: 'Comic Sans MS';
    color: #fff;
}

.game {
    margin: auto;
    margin-top: 50px;
    height: 90vh;
    width: 90vw;
    background-color: #333;
    border-radius: 100px;
}

/*---------------------------------------------*/

.title {
    text-align: center;
    font-size: 50px;
    margin: 0;
    padding: 0;
}

.game-over {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    background-color: #009;
    padding: 10px;
    border: #000 5px solid;
    border-radius: 25px;
    font-size: 24px;
}

.plug {
    position: absolute;
    bottom: 1vh;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    padding: 0;
}

/*---------------------------------------------*/

.scoreboard {
    display: inline-block;
    background-color: #006;
    padding: 20px;
    margin: 20px;
    border: #000 5px solid;
    border-radius: 20px;
}

.score {
    font-size: 30px;
    padding: 10px;
    background-color: #009;
    border: #000 5px solid;
    border-radius: 10px;
}

.rows {
    font-size: 30px;
    padding: 10px;
    background-color: #009;
    border: #000 5px solid;
    border-radius: 10px;
}

.btn {
    position: relative;
    color: #fff;
    font-family: 'Comic Sans MS';
    padding: 10px;
    font-size: 30px;
    background-color: #006;
    border: #000 5px solid;
    border-radius: 10px;
    margin-left: 60px;
}

/*---------------------------------------------*/

.field-wrapper {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    padding: 50px;
    border: #000 5px solid;
    border-radius: 50px;
    background-color: #009;
}

.nextTitle {
    position: absolute;
    right: 10vw;
    top: 30vh;
}

.next-wrapper {
    position: absolute;
    right: 8vw;
    display: inline-block;
    padding: 25px;
    border: #000 5px solid;
    border-radius: 50px;
    background-color: #009;
}

.field {
    margin: auto;
    background-color: #999;
}

/*---------------------------------------------*/

.black {
    display: table-cell;
    background-color: #000;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    margin: 5px;
}

.cyan {
    background-color: #0FF;
}

.blue {
    background-color: #00F;
}

.orange {
    background-color: #F60;
}

.yellow {
    background-color: #FF0;
}

.green {
    background-color: #0F0;
}

.purple {
    background-color: #F0F;
}

.red {
    background-color: #F00;
}

.white {
    background-color: #FFF;
}